p{
    font-size: 30px;
    color: rgba(4, 110, 250, 0.829);
    position: absolute;
    right: 50%;
    top: 0px;
    border: 2px solid;
    border-radius: 20%;
    border-color: rgba(78, 78, 243, 0.623);
    text-shadow: 2px 2px 2px rgba(159, 88, 187, 0.568);
}
.img{
    position: absolute;
    left: 60%;
    width: 500px;
    height: 400px;
    top: 40%;
    border: solid 5px whitesmoke;
    transform: scale(1);
    transition: 1s;
}
.img:hover{
    transform: scale(0.9);
    transition: 1s;
}
.comp{
    position: absolute;
    color: rgb(193, 99, 255);
    font-size: 20px;
    top: 19%;
    right:83%;
    text-shadow: 1px 1px 20px rgb(255, 255, 255) ;
    border: solid white 1px;
    border-radius: 25%;
    padding: 10px;
}
.computer{
    position: absolute;
    top: 23%;
    color: aliceblue;
    right: 82%;
    text-shadow: 1px 1px 10px purple;
}
.phon{
    width: 100%;
    height: 100%;
    opacity: 100%;
}
.about{
    font-size: 20px;
    position: absolute;
    top: 25%;
    left: 20%;
    color: rgb(245, 94, 225);
    text-shadow: 1px 1px 1px rgb(40, 99, 69);
    border-style:groove;
    transition: 1s all;
}
.menu{
    position: absolute;
    top: 90%;
    color: rgb(255, 255, 255);
    transform: scale(0.9);
    transition: 1s all;
}
.menu a:hover{
    transition: 1s all;
    color: whitesmoke ;
    margin: 10%;
}
ul li:hover{
    transform: scale(1.1);
    transition: all 1s;
    color: rgb(240, 124, 255);
}
ul li{
    transform: scale(1);
    transition: 1s;

}
.abo{
    transform: scale(1);
    transition: 1s;
}








